<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Personal">
  
  <groups>
  <run>
  <include name="smoke"/>
  </run>
  </groups>
  
    <classes>
      <class name="demo.basicTest">
      <methods>
      <exclude name="two"> </exclude>  
      </methods>
      </class>
      <class name="demo.second"/>
        <class name="demo.excel"/>
      </classes>
  </test> 
  <test name="login">
    <classes>
      <class name="demo.third"/>
   
      </classes>
  </test>
  
</suite> <!-- Suite -->

